################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmbeddingGenerationTool/bin/Debug/net8.0
/EmbeddingGenerationTool/obj
/EmbeddingService/bin/Debug/net8.0
/EmbeddingService/obj
